<!---<div>
    <mat-card class="user-info example-card" fxLayout="column wrap" fxLayoutAlign="center center">
        <div>
                <mat-card-header>
                  <mat-card-title-group>
                    <mat-card-title>Maïrame Kane</mat-card-title>
                    <mat-card-subtitle>Small</mat-card-subtitle>
                    <mat-card-subtitle>Small</mat-card-subtitle>
                    <mat-card-subtitle>Small</mat-card-subtitle>
                    <mat-card-subtitle>Small</mat-card-subtitle>
                    <img mat-card-xl-image alt="cover" src="https://media.licdn.com/dms/image/C4E03AQEWkkHLkEZgJQ/profile-displayphoto-shrink_800_800/0/1620722592916?e=1681948800&v=beta&t=DdL49sbp78vfDQ1yzKYGKZVQurNY2N2IpBcmC6iciwU" >
                  </mat-card-title-group>
                </mat-card-header>
                <mat-card-content>
                    Développeuse Full Stack dévouée, passionnée et accomplie avec plus de 9 ans d'expérience progressive en
                     tant qu'entrepreneur indépendant pour Google et en développant et en développant mon réseau social 
                     éducatif qui aide les autres à apprendre la programmation, la conception Web, le développement de jeux, 
                     le réseautage. 
                </mat-card-content>
                
        </div>

    </mat-card>
</div> ---> 
<div class="float-container">
    <mat-card class="resume-left">
      <div class="resume-principal">
        <app-formation></app-formation>
        <app-skill></app-skill>
        <app-experience></app-experience>
    </div>
    </mat-card>
    <mat-card class="resume-right">
      <div class="resume-secondaire">
        <app-hobby></app-hobby>
        <app-langage></app-langage>
      </div>
    </mat-card>
</div>
