.example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }
  
  .example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
    margin-left: 8px;
}
.add-icon{
    right: 0px imp;
}
.add-formation{
    width: 100%;
    margin: 5px;
}
.titre{
    color: rgba(233, 97, 13, 0.906);
}
.example-full-width {
    width: 50%;
  }
  .mini-card{
    margin-bottom: 15px;
}