<mat-card class="mini-card">
    <mat-card-header>
      <mat-card-title class="titre">Langages</mat-card-title>
    </mat-card-header>
    <mat-accordion class="example-headers-align add-formation">
        <mat-expansion-panel [expanded]="toggledown" (opened)="stepStep" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title class="titre">
             Ajouter une langue
            </mat-panel-title>
            <mat-panel-description>
                <span></span>
                <mat-icon class="add-icon">add</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div fxLayout="column wrap" fxLayoutAlign="center center">
            <form [formGroup]="addLangage" autocomplete="off" novalidate (ngSubmit)="submitForm()" fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
                <div>
                  <mat-form-field>
                    <input matInput type="text" placeholder="Langue" formControlName="name" id="name">
                    <mat-error *ngIf="ErrorLangage('name', 'required')">langue requise</mat-error>
                    <mat-error *ngIf="ErrorLangage('name', 'minlength')">Minimim 3 caractères</mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>Niveau</mat-label>
                    <mat-select  name="level" formControlName="level" id="level">
                        <mat-option value="Débutant"> Débutant </mat-option>
                        <mat-option value="Intermédiaire" >Intermédiaire</mat-option>
                        <mat-option value="Avancé">Avancé</mat-option>
                        <mat-option value="Bilingue" >Bilingue</mat-option>
                        <mat-option value="Maternel">Maternel</mat-option>
                    </mat-select>
                    <mat-error *ngIf="ErrorLangage('level', 'required')">niveau requis</mat-error>
                  </mat-form-field>
                </div>
              <mat-action-row>
                <button mat-raised-button [disabled]="!addLangage.valid" *ngIf="modifButton">Modifier</button>
                <button mat-raised-button [disabled]="!addLangage.valid" *ngIf="!modifButton">Ajouter</button>
              </mat-action-row>
            </form>
          </div>
        </mat-expansion-panel>
      </mat-accordion> 
      <app-langage-list (update)="updateBefore($event)"></app-langage-list>
</mat-card>

