.add-formation{
    width: 95%;
    margin: 5px;
}
.formation-content{
    margin: 5px;
    padding: 5px;
}
.formation-label{
    color: rgba(11, 134, 159, 0.906);
    display: flex;
    justify-content: space-between;
}
.level{
    width: 59%;
}
.icons,.degree{
    flex: 1 1 auto;
}