.navbar{
    justify-content: space-between;
    height: 15% imp;
    background-color: white;
}
span{
    padding-right: 1rem;
    color: rgba(233, 97, 13, 0.906);
}
.site-title{
    font-size: 28px;
}