.add-formation{
    width: 95%;
    margin: 5px;
}
.formation-content{
    margin: 5px;
    padding: 5px;
}
.formation-label{
    color: rgba(11, 134, 159, 0.906);
    display: flex;
}
.formation-school{
    color: rgba(239, 125, 53, 0.906);
}
.icons,.degree{
    flex: 1 1 auto;
}